@media(max-width: 725px){
    body{
      background: url(../images/bg-mobile.svg) center center no-repeat;
      background-color:  hsl(257, 40%, 49%);
      background-size: cover;
                                        
    }

    .container .imagem-principal{
    width: 95%;
    justify-content: center;
    margin: 10px;
    }

   .container{
        
       margin: 10px;
       text-align: center;
       
    }

    .social {
        
        justify-content: center;
    }
    

}